.movie__inner {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 23%;
      position: relative;

      em {
        display: block;
        height: 80px;
        margin-bottom: 30px;
        font-family: var(--font-kor);
      }
      .title {
        padding: 5px 0;
        display: inline-block;
      }
      .star {
        background: #fff;
        color: #000;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-weight: 700;
      }
    }
  }

  a {
    color: var(--white);
  }
}

// movieSearch

.movie__search {
  margin-bottom: 100px;

  .container {
    position: relative;
  }

  h2 {
    color: var(--white);
    font-size: 40px;
    text-indent: -9999px;
    height: 0;
  }
  input {
    background: var(--black);
    border: 1px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    width: 100%;
    padding: 14px 30px;
    font-family: var(--font-kor);
  }
  button {
    position: absolute;
    right: 6px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    z-index: 1000;
  }
}

// movie__popular

.popular__inner {
  h2 {
    color: var(--white);
    margin-bottom: 20px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      display: none;
      width: 18%;
      position: relative;
      overflow-y: hidden;
      transition: all 0.3s ease-in-out;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        display: block;
      }
      &:hover {
        transform: scale(1.15);
      }

      em {
        display: block;
        height: 80px;
        margin-bottom: 30px;
        font-family: var(--font-kor);
      }
      .title {
        padding: 5px 0;
        display: inline-block;
      }
      .star {
        background: #fff;
        color: #000;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-weight: 700;
      }
    }
  }

  a {
    color: var(--white);
  }
}
