.refer__inner {
  padding-bottom: 200px;
  h2 {
    font-size: 30px;
    color: var(--white);
  }
}

.refer__list {
  border: 1px solid var(--bg-dark-border);
  font-family: var(--font-kor);

  li {
    border-bottom: 1px solid var(--bg-dark-border);
    a {
      display: flex;
      align-items: center;
      width: 100%;
      color: var(--white);

      span {
        display: inline-block;
        padding: 15px 20px;
      }

      .num {
        flex: 1 1 6%;
        text-align: center;
      }
      .name {
        flex: 1 1 19%;
        border-right: 1px solid var(--bg-dark-border);
        border-left: 1px solid var(--bg-dark-border);
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          white-space:inherit;
          overflow:auto;
          text-overflow:inherit;
        }
      }
      .desc {
        flex: 1 1 65%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          white-space:inherit;
          overflow:auto;
          text-overflow:inherit;
        }
      }
      .star {
        flex: 1 1 8%;
        text-align: center;
        border-right: 1px solid var(--bg-dark-border);
        border-left: 1px solid var(--bg-dark-border);
      }
      .link {
        flex: 1 1 7%;
        text-align: center;
      }
    }
  }
}
