.cont__unsplash {
  ul {
    column-count: 4;
    column-gap: 20px;
    width: 100%;

    li {
      margin-bottom: 20px;

      img {
        border-radius: 5px;
      }
    }
  }
}

.unsplash__btn {
  margin: 30px 0 50px;
  button {
    margin-right: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background: #000;
      color: #fff;
      border: 1px solid #fff;
    }
  }
}

.unsplash__images {
  h2 {
    font-size: 40px;
    color: var(--white);
    margin-bottom: 70px;
  }
  .swiper img {
    width: 240px !important;
    height: 320px !important;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  a {
    color: var(--white);
  }
}

.unsplash__search {
  margin-top: 50px;
  margin-bottom: 100px;

  .container {
    position: relative;
  }

  h2 {
    color: var(--white);
    font-size: 40px;
    text-indent: -9999px;
    height: 0;
  }
  input {
    background: var(--black);
    border: 1px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    width: 100%;
    padding: 14px 30px;
    font-family: var(--font-kor);
    margin-top: 20px;
  }
  button {
    position: absolute;
    right: 6px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    z-index: 1000;
    margin-top: 20px;
  }
}
